* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  background: linear-gradient(120deg, #064e3b, #022c22, #000);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
  color: #fff;
  scroll-behavior: smooth;
}

footer {
  text-align: center;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero {
  height: 60vh;
  background-image: url("img/capa-pedreira.jpg");
  /* caminho da imagem */
  background-attachment: fixed;
  /* efeito parallax leve */
  background-repeat: no-repeat;
  /* ISSO resolve a duplicação */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero-content {
  animation: fadeIn 1.5s ease forwards;
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 30px;
  transition: 0.4s;
  margin: 20px;
}

/* efeito de fade in ( texto aparece lentamente */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  text-shadow: 0 6px 25px rgba(0, 0, 0, 0.7);
}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

/*aqui é onde fica a imagem no mobile */
/* Mobile */
@media (max-width: 768px) {
  .hero {
    background-image: url("img/capa-pedreira-mobile.jpg");
    background-attachment: scroll;
    /* efeito parallax leve */
    background-repeat: repeat-y;
    /* ISSO resolve a duplicação */
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
}

/*aqui é onde formata as imagens das cachoeiras*/

gr-id {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  gap: 1.5rem;
  justify-content: center;
  margin-block-end: 20px;
}

sq-image {
  width: 100%;
  border-radius: 1em;
}

/* imagem */
sq-image img {
  width: 100%;
  display: block;
  border-radius: 1em;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

/* DESKTOP - passar o mouse */
sq-image:hover img {
  transform: scale(1.3);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* MOBILE - toque com o dedo */
@media (max-width: 400px) {
  sq-image:active img,
  sq-image:focus-within img {
    transform: scale(1.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  }
}

/* aqui é onde formata o texto dentro das imagens*/
.img-achado {
  position: relative;
}

#image {
  position: absolute;
}

.img-achado p {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 20px;
  transition: 0.4s;
  margin: 20px;
  position: absolute;
  font-size: 20px;
  left: 200px;
  bottom: 50px;
}

/*formatação da extrutura em geral */
.estrutura {
  padding: 80px 20px;
  background: transparent;
}

.estrutura-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
}

/* TEXTO 'NOSSA ESTRUTURA' */
.estrutura-label {
  font-size: 0.75rem;
  letter-spacing: 10px;
  color: #6cc24a;
  font-weight: 600;
}

/* TEXTO 'o que oferecemos' */
.estrutura-texto h2 {
  font-size: 2.6rem;
  margin: 16px 0 24px;
  color: #ffffff;
}

/* TEXTO 'No Paraíso Achado, prezamos pelo...' */
.estrutura-texto p {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 30px;
  transition: 0.4s;
  margin: 20px;
}

/* ITENS */
.estrutura-itens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.item img {
  width: 36px;
  margin-bottom: 12px;
}

/* formata 'barzinho', 'banheiro', 'monitor' e 'tenda'*/
.item h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.item p {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 30px;
  transition: 0.4s;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .estrutura-container {
    grid-template-columns: 1fr;
  }

  .estrutura-texto h2 {
    font-size: 2rem;
  }

  .estrutura-itens {
    grid-template-columns: 1fr;
  }
}

/* aqui é onde se configura o botão voltar ao TOPO */
html {
  scroll-behavior: smooth;
}

/* Estilos para o botão (pode ser personalizado com classes do Bootstrap) */
#btn-back-to-top {
  position: fixed;
  bottom: 90px;
  /* Posição inferior */
  right: 20px;
  /* Posição direita */
  z-index: 1000;
  /* Para ficar acima de outros elementos */
}

.btn {
  padding: 18px 40px;
  border-radius: 40px;
  background: #22c55e;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  animation: pulse 2.5s infinite;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* Estilos para o botão (pode ser personalizado com classes do Bootstrap) */
#btn-back-to-index {
  position: fixed;
  top: 90px;
  /* Posição inferior */
  left: 20px;
  /* Posição direita */
  z-index: 1000;
  /* Para ficar acima de outros elementos */
}
