* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  background: linear-gradient(120deg, #064e3b, #022c22, #000);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
  color: #fff;
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero {
  height: 90vh;
  background-image: url("img/capa-beija-flor.jpg");
  /* caminho da imagem */
  background-attachment: fixed;
  /* efeito parallax leve */
  background-repeat: no-repeat;
  /* ISSO resolve a duplicação */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero P {
  font-size: 1.2rem;
}

.hero-content {
  animation: fadeIn 1.5s ease forwards;
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 30px;
  transition: 0.4s;
  margin: 20px;
}

footer {
  text-align: center;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

/*começa a edição dos produtos*/
.produtos-section {
  padding: 80px 8%;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}

.produto-card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 20px;
  transition: 0.5s;
}

.produto-card:hover {
  transform: translateY(-8px);
}

/* CARROSSEL */
.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 15px;
}

.carousel input {
  display: none;
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.slides img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
}

/* Controle por radio */
#p1-1:checked ~ .slides,
#p2-1:checked ~ .slides,
#p3-1:checked ~ .slides,
#p4-1:checked ~ .slides,
#p5-1:checked ~ .slides,
#p6-1:checked ~ .slides,
#p7-1:checked ~ .slides {
  transform: translateX(0%);
}

#p1-2:checked ~ .slides,
#p2-2:checked ~ .slides,
#p3-2:checked ~ .slides,
#p4-2:checked ~ .slides,
#p5-2:checked ~ .slides,
#p6-2:checked ~ .slides,
#p7-2:checked ~ .slides {
  transform: translateX(-100%);
}

#p1-3:checked ~ .slides,
#p2-3:checked ~ .slides,
#p3-3:checked ~ .slides,
#p4-3:checked ~ .slides,
#p5-3:checked ~ .slides,
#p6-3:checked ~ .slides,
#p7-3:checked ~ .slides {
  transform: translateX(-200%);
}

/* SETAS */
.controls label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 15px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.controls .prev {
  left: 10px;
}
.controls .next {
  right: 10px;
}

/* MOBILE */
@media (max-width: 900px) {
  .produtos-grid {
    grid-template-columns: 1fr;
  }
}
.controls label {
  display: none;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.carousel:hover .controls label {
  opacity: 1;
}

/* SLIDE 1 */
#p1-1:checked ~ .controls .s1 {
  display: block;
}
#p2-1:checked ~ .controls .s1 {
  display: block;
}
#p3-1:checked ~ .controls .s1 {
  display: block;
}
#p4-1:checked ~ .controls .s1 {
  display: block;
}
#p5-1:checked ~ .controls .s1 {
  display: block;
}
#p6-1:checked ~ .controls .s1 {
  display: block;
}
#p7-1:checked ~ .controls .s1 {
  display: block;
}

/* SLIDE 2 */
#p1-2:checked ~ .controls .s2 {
  display: block;
}
#p2-2:checked ~ .controls .s2 {
  display: block;
}
#p3-2:checked ~ .controls .s2 {
  display: block;
}
#p4-2:checked ~ .controls .s2 {
  display: block;
}
#p5-2:checked ~ .controls .s2 {
  display: block;
}
#p6-2:checked ~ .controls .s2 {
  display: block;
}
#p7-2:checked ~ .controls .s2 {
  display: block;
}

/* SLIDE 3 */
#p1-3:checked ~ .controls .s3 {
  display: block;
}
#p2-3:checked ~ .controls .s3 {
  display: block;
}
#p3-3:checked ~ .controls .s3 {
  display: block;
}
#p4-3:checked ~ .controls .s3 {
  display: block;
}
#p5-3:checked ~ .controls .s3 {
  display: block;
}
#p6-3:checked ~ .controls .s3 {
  display: block;
}
#p7-3:checked ~ .controls .s3 {
  display: block;
}

/* Estilos para o botão (pode ser personalizado com classes do Bootstrap) */
#btn-back-to-top {
  position: fixed;
  bottom: 90px;
  /* Posição inferior */
  right: 20px;
  /* Posição direita */
  z-index: 1000;
  /* Para ficar acima de outros elementos */
}

.btn {
  padding: 18px 40px;
  border-radius: 40px;
  background: #22c55e;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  animation: pulse 2.5s infinite;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* Estilos para o botão (pode ser personalizado com classes do Bootstrap) */
#btn-back-to-index {
  position: fixed;
  top: 90px;
  /* Posição inferior */
  left: 20px;
  /* Posição direita */
  z-index: 1000;
  /* Para ficar acima de outros elementos */
}
